{{!--   <div>
    <img src="images/surf2.jpg" id="authImg" class="img-fluid" alt="Man looking at person surfing">
  </div> --}}

<div class="authImg" id="form">
    
    <form class="formContainer" class="needs-validation"action="/signup" method="POST">

        <label ><b>Username</b></label>
            <input class="inputAuth" id="validationDefault03" type="text" name="username" placeholder="Type your username" required/>
       

        <label><b>Email</b></label>
            <input class="inputAuth" type="email" name="email" placeholder="email@email.com" />
        

        <label> <b>Password </b></label>
            <input class="inputAuth" type="password" name="password" placeholder="********" />
       

        <button type="submit" class="loginBtn">Create surfer account</button>

        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}

    </form>
</div>
