* {
  box-sizing: border-box;
}

body {
  /* padding: 0, 10px, 10px, 10px; */
  padding: 10px;
  padding-bottom: 50px;
  /* font-family: 'Montserrat', sans-serif; */
  /* font: 100px; */
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

p {
  font-family: 'Montserrat', sans-serif;
}

small {
  font-family: 'Bebas Neue', cursive;
}

#homePageImg {
  max-width: 100%;
  height: auto;
}

/* a {
  color: #00b7ff;
  text-decoration: none;
} */

/* Buttons for filtered surf levels  */
 .filterBtns {
  text-decoration: none;
  color: rgb(179, 169, 105);
  cursor: pointer;
  border: 1px solid rgb(179, 169, 105);
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  font-size: 1.3rem;
  font-weight: 300;
}

.filterBtns:hover {
  color: white;
  background-color: rgb(179, 169, 105);
  padding: 5px;
  border-radius: 5px;
}

/* surf spot filter panel */
.filter-panel {
  margin-left: 65px;
  margin-top: 30px;
  margin-right: 5px;
}

h1 {
  color: 15px;
}

/* Edit and Delete icons / buttons */
.icons {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: rgb(179, 169, 105);
  padding: 5px 5px;
  margin: 5px;
  font-size: 22px;
  cursor: pointer;
}

.icons:hover {
 color: white;
 background-color: rgb(179, 169, 105);
}

/* Nav Bar */
#nav-bar {
  background-color: rgb(179, 169, 105);
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Bebas Neue', cursive;
}

#nav-bar ul a {
  text-decoration: none;
  padding: 0px 15px;
  color: white;
  font-size: 3rem;
  margin: 10px;
  /* border: 1px solid blue; */
}

#nav-bar ul a:hover {
  background-color: white;
  color: rgb(179, 169, 105);
}

/* #nav-bar ul a:active {
  background-color: aquamarine;
} */

/* Sign up Login buttons navbar */

.authBtn {
background-color: rgb(179, 169, 105);
/* color: rgb(223, 209, 116); */
  border: none;
}

#nav-bar ul .authBtn a {
  color: rgb(179, 169, 105);
  background-color: white;
  border: 2px solid white;
  padding: 2px 8px;
}

#nav-bar ul .authBtn a:hover {
  background-color: rgb(179, 169, 105);
  color: white;
}

/* Logout Button */
.logoutBtn {
  color: rgb(179, 169, 105);
  background-color: white;
  font-size: 3rem;
  border: none;
}

/* #nav-bar ul form .logoutBtn {
  border: none;
} */

#nav-bar ul form .logoutBtn:hover {
  background-color: rgb(179, 169, 105);
  color: white;
  border: 2px solid white;
}

#logout-form {
  text-decoration: none;
  color: rgb(179, 169, 105);
  background-color: white;
  border: 2px solid white;
  padding: 2px 8px;
}

/* position sign up login logout navbar right */

.nav-bar-right {
  float: right
}

/* Login button form */
.loginBtn {
  border: none;
  background-color: rgb(179, 169, 105);
  color: white;
  padding: 3px 7px;
  margin-top: 5px;
  font-size: 1.5rem;
  font-family: 'Bebas Neue', cursive;
}

.loginBtn:hover {
  background-color: white;
  border: 1px solid rgb(179, 169, 105);
  color: rgb(179, 169, 105);
}

/* surf spot cards */
.allSurfSpots {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 18rem;
  margin: 50px 10px 30px 65px;
  transition: transform .2s;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.allSurfSpots a {
  text-decoration: none;
  color: rgb(179, 169, 105);
}

.allSurfSpots a:hover {
  color: rgb(179, 169, 105);
}

.card-subtitle {
  background-color: rgb(179, 169, 105);
  border-radius: 2px;
  color: white;
  padding: 3px;
  /* max-width: 100px; */
}

/* Edit and Delete Icons */
.editIcons {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

/* Create surf spot form */

.formImg {
  background-image: url("../images/surfboards.jpg");
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0px;


}

.createFormContainer {
  position: center;
  margin-top: 70px;
  margin-left: 65px;
  max-width: 800px;
  padding: 40px 25px;
  background-color: white;
  opacity: 85%;

}

.createFormContainer label {
  font-family: 'Bebas Neue', cursive; 
  font-size: larger;
  margin-top: 20px;

}


.createHeader {
  font-family: 'Bebas Neue';
  font-size: 100px;
  color: black;
  background: white;
  max-width: fit-content;
  margin-left: 65px;
  background: white;
  max-width: fit-content;
  padding: 0 10px;
  
}

.createSub {
  font-family: 'Bebas Neue';
  font-size: 100px;
  color: black;
  background: white;
  max-width: fit-content;
  margin-left: 65px;
  margin-top: 20px;
  padding: 0 10px;
  
}


/* Create user profile */

.userFormImg {
  background-image: url("../images/vw.jpg");
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0px;

}

/* Edit user profile */

.userEditImg {

  background-image: url("../images/beach.jpg");
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0px;

}

/* Welcome User on homepage */
.homepage {
  position: relative;
}

.welcomeUser {
  position: absolute;
  top: 8px;
  left: 16px;
  font-family: 'Bebas Neue', cursive;
  background-color: rgba(179, 169, 105, .5);
  /* color: rgb(179, 169, 105); */
  color: white;
  padding: 0 15px;
  margin: 20px;
  font-size: 4rem;
}

/* Profile page */

.welcomeProfile {
  font-family: 'Bebas Neue', cursive;
  margin: 10px 0;
  padding: 5px;
  font-size: 90px;
}

.profilePage {
  margin-top: 40px;
  background-image: url("/images/surf3.jpg");
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.userDetails {
  background-color: rgba(255, 255, 255, 0.905);
  width: 60%;
  padding: 20px;
}

/* Beach name on surf card */
.beachNameUser {
  color: rgb(179, 169, 105);
}

/* padding between image and user details */
#postImg {
  margin-bottom: 10px;;
}

/* login page */

b {
  font-family: 'Bebas Neue', cursive; 
  font-size: larger;
}

.authImg {
  /* The image used */
  background-image: url("../images/surf2.jpg");
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
 
}

/* Add styles to the form container */
.formContainer {
  position: absolute;
  margin-top: 70px;
  margin-left: 65px;
  max-width: 450px;
  padding: 40px 25px;
  background-color: white;
}

/* Full-width input fields */
.inputAuth {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;

}

input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(179, 169, 105);
  outline: none;
}

/* Back button */
.backBtn {
  text-decoration: none;
  color: rgb(179, 169, 105);
  cursor: pointer;
  border: 1px solid rgb(179, 169, 105);
  padding: 5px;
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: 300;
}

.backBtn:hover {
  color: white;
  /* text-decoration: none; */
  background-color: rgb(179, 169, 105);
}


/* Surf Spot profile */
 #surfSpot {
  /* border: 2px solid maroon; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  /* background-color: rgba(179, 169, 105, .2); */
  
}
#surfSpot img {
  max-width: 50%;
  height: auto;
  margin-right: 60px;
  /* flex-shrink: 0; */
    min-width: 40%;
    min-height: 100%
  
}

.spotDetails{
  padding: 15px;
} 

.spotDetails span {
  font-size: 2rem;
}

.createdAt {
  font-size: .5rem;
}

/* Footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(179, 169, 105);
  color: white;
  padding: 10px;
  margin-top: 50px;
}

