body {
  /* padding: 0, 10px, 10px, 10px; */
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#homePageImg {
  max-width: 100%;
  height: auto;
}

/* a {
  color: #00b7ff;
  text-decoration: none;
} */

/* A tags / Links  */
 .btns {
  text-decoration: none;
  color: rgb(26, 129, 170);
  cursor: pointer;
  border: 1px solid rgb(26, 129, 170);
  padding: 5px;
  border-radius: 5px;
}

.btns:hover {
  color: white;
  background-color: rgb(26, 129, 170);
  padding: 5px;
  border-radius: 5px;
}

h1 {
  color: 15px;
}

/* Edit and Delete icons / buttons */
.icons {
  background-color: white;
  border: none;
  color: rgb(26, 129, 170);
  padding: 5px 5px;
  margin: 5px;
  font-size: 22px;
  cursor: pointer;
}

.icons:hover {
 color: white;
 background-color: rgb(88, 181, 218);
}

/* Nav Bar */
#nav-bar {
  background-color: rgb(179, 169, 105);
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Bebas Neue', cursive;
}

#nav-bar ul a {
  text-decoration: none;
  padding: 0px 15px;
  color: white;
  font-size: 3rem;
  margin: 10px;
  /* border: 1px solid blue; */
}

#nav-bar ul a:hover {
  background-color: white;
  color: rgb(179, 169, 105);
}

/* #nav-bar ul a:active {
  background-color: aquamarine;
} */

/* Sign up Login buttons navbar */

.authBtn {
background-color: rgb(179, 169, 105);
/* color: rgb(223, 209, 116); */
  border: none;
}

#nav-bar ul .authBtn a {
  color: rgb(179, 169, 105);
  background-color: white;
  border: 2px solid white;
  padding: 2px 8px;
}

#nav-bar ul .authBtn a:hover {
  background-color: rgb(179, 169, 105);
  color: white;
}



#logout-form {
  text-decoration: none;
  color: rgb(179, 169, 105);
  background-color: white;
  border: 2px solid white;
  padding: 2px 8px;
}



/* position sign up login logout navbar right */

.nav-bar-right {
  float: right
}

/* Login button form */
.loginBtn {
  border: none;
  background-color: rgb(179, 169, 105);
  color: white;
  padding: 3px 7px;
  margin-top: 5px;
  font-size: 1.5rem;
  font-family: 'Bebas Neue', cursive;
}

.loginBtn:hover {
  background-color: white;
  border: 1px solid rgb(179, 169, 105);
  color: rgb(179, 169, 105);
}

/* surf cards all spots */
.allSurfSpots {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 18rem;
  border: 1px solid rgb(26, 129, 170);
  margin: 50px 10px 30px 65px;
  transition: transform .2s;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* surf spot filter panel */

.filter-panel {
  margin-left: 65px;
  margin-top: 30px;
  margin-right: 5px;
}

/* login page */

b {
  font-family: 'Bebas Neue', cursive; 
  font-size: larger;
}

* {
  box-sizing: border-box;
}
.authImg {
  /* The image used */
  background-image: url("../images/surf2.jpg");
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
 
}

/* Add styles to the form container */
.formContainer {
  position: absolute;
  margin-top: 70px;
  margin-left: 65px;
  max-width: 450px;
  padding: 40px 25px;
  background-color: white;
}

/* Full-width input fields */
.inputAuth {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;

}

input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(179, 169, 105);
  outline: none;
}


/* Create surf spot form */

.formImg {
  background-image: url("../images/surfboards.jpg");
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0px;


}

.createFormContainer {
  position: center;
  margin-top: 70px;
  margin-left: 65px;
  max-width: 800px;
  padding: 40px 25px;
  background-color: white;
  opacity: 85%;

}

.createFormContainer label {
  font-family: 'Bebas Neue', cursive; 
  font-size: larger;
  margin-top: 20px;

}


.createHeader {
  font-family: 'Bebas Neue';
  font-size: 100px;
  color: black;
  background: white;
  max-width: fit-content;
  margin-left: 65px;
  background: white;
  max-width: fit-content;
  padding: 0 10px;
  
}

.createSub {
  font-family: 'Bebas Neue';
  font-size: 100px;
  color: black;
  background: white;
  max-width: fit-content;
  margin-left: 65px;
  margin-top: 20px;
  padding: 0 10px;
  
}


/* Create user profile */

.userFormImg {
  background-image: url("../images/vw.jpg");
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0px;

}

/* Edit user profile */

.userEditImg {

  background-image: url("../images/beach.jpg");
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0px;

}

