<h1>Intermediate Surf Spots</h1>

<form action="/surf-spot/all" method="GET">
    <a href="/surf-spot/all" class="btns">All Spots</a>
    <a href="/surf-spot/all-beginner" class="btns">Beginner</a>
    <a href="/surf-spot/all-intermediate" class="btns">Intermediate</a>
    <a href="/surf-spot/all-advanced" class="btns">Advanced</a>
</form>

{{#each result}}
<hr>
<img src="{{this.imageUrl}}" alt="">
  <p>
    Name of the beach:
    {{this.beachName}}
  </p>

  <p>
    Country:
    {{this.country}}
  </p>

  <p>
    Surf Level:
    {{this.skillLevel}}
  </p>
  {{/each}}

  <a href="/surf-spot/all">Back</a>
